
nav{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 40px 100px;
	z-index: 10000;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: 0.5s;

}
nav.sticky{
	background:#fff;
	padding: 10px 100px;
	box-shadow: 0 5px 20px rgba(0,0,0,0.5);
}nav .logo{
	color: #fff;
	font-weight: 700;
	font-size: 2em;
	text-decoration: none;
}nav.sticky .logo{
	color: #111;
}
nav .logo span{
	padding-bottom:20px;
	color: #ff0157;
}
nav .navigation{
	position: relative;
	display: flex;

}
nav .navigation li{
	list-style: none;
	margin-left: 30px;


}
nav.navigation li a{
	text-decoration: none;
	color: #fff;
	font-weight: 300;
	
}
nav.sticky .navigation li a{
	color:#111;
}

header .navigation li a:hover{
color: #ff0157;
}